body {
    margin: 0;
}

h1 {
    font-size: 70px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    background-color: grey;
    margin-top: 0;
    padding: 40px;
}

.hidden {
    display: none;
}

.form {
    margin: 5%;
}

#pythonResponse {
    text-align: center;
    background-color: aqua;
    color: blueviolet;
    width: 65%;
    margin: auto;
    padding: 10%;
}

#pythonResponse h2 {
    font-size: 60px;
}

#pythonResponse p {
    font-size: 40px;
}

#goResponse {
    background-color: blueviolet;
}

#cResponse {
    background-color: blue;
}

#sqlResponse {
    background-color: green;
}