body {
    margin: 0;
    background-color: #7F7F7F;
}

h1 {
    font-size: 70px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FEBE3F;
    text-shadow: 5px 5px 5px black;
    background-color: #4A4559;
    margin-top: 0;
    padding: 40px;
}

.hidden {
    display: none;
}

.form {
    margin: 5%;
    font-family: sans-serif;
    color: #FEBE3F
}

.firstQuestions {
    float: left;
    padding: 5%;
}

.lastQuestions {
    float: left;
    padding: 5%;
}

/* .btn {
    float: left;
} */

#pythonResponse {
    text-align: center;
    font-family: sans-serif;
    background-color: #4CE44C;
    border-radius: 10%;
    border: 5px solid #FEBE3F;
    color: #6565FE;
    width: 65%;
    margin: 5%;
    padding: 10%;
    float: left;
}

#pythonResponse h2 {
    font-size: 60px;
}

#pythonResponse p {
    font-size: 40px;
}

#goResponse {
    text-align: center;
    font-family: sans-serif;
    background-color: #4CE44C;
    border-radius: 10%;
    border: 5px solid #FEBE3F;
    color: #6565FE;
    width: 65%;
    margin: auto;
    padding: 10%;
}

#goResponse h2 {
    font-size: 60px;
}

#goResponse p {
    font-size: 40px;
}

#cResponse {
    text-align: center;
    font-family: sans-serif;
    background-color: #4CE44C;
    border-radius: 10%;
    border: 5px solid #FEBE3F;
    color: #6565FE;
    width: 65%;
    margin: auto;
    padding: 10%;
}

#cResponse h2 {
    font-size: 60px;
}

#cResponse p {
    font-size: 40px;
}

#sqlResponse {
    text-align: center;
    font-family: sans-serif;
    background-color: #4CE44C;
    border-radius: 10%;
    border: 5px solid #FEBE3F;
    color: #6565FE;
    width: 65%;
    margin: auto;
    padding: 10%;
}

#sqlResponse h2 {
    font-size: 60px;
}

#sqlResponse p {
    font-size: 40px;
}

#javascriptResponse {
    text-align: center;
    font-family: sans-serif;
    background-color: #4CE44C;
    border-radius: 10%;
    border: 5px solid #FEBE3F;
    color: #6565FE;
    width: 65%;
    margin: auto;
    padding: 10%;
}

#javascriptResponse h2 {
    font-size: 60px;
}

#javascriptResponse p {
    font-size: 40px;
}

@media screen and (max-width: 768px) {
    form {
        display: flex;
    }
}